<!DOCTYPE html>
<html lang="en">
  <head>
    
  </head>
  <body>
    <div class="container">
      <div class="header">
        <h3 class="text-muted">JIO Data Usage Analysis and plan suggestion</h3>
      </div>
      <hr/>
      <div>
      
      <form action="upload" method="post" enctype="multipart/form-data">
        <input type="file" multiple="" name="file" class="span3" /><br />
        <input type="submit" value="Upload"  class="span2">
      </form>
      </div>
      <a>{{result}}</a>
      <a>{{result1}}</a>
      <a>{{result3}}</a>

      

    </div>
    <div>
      <a>{{result2}}</a>
      
    </div>
  </body>
</html>





