<!DOCTYPE html>
<html lang="en">
  <head>
    
  </head>
  <body>
    <div class="container">
      <div class="header">
        <h3 class="text-muted">these are the files u have uploaded</h3>
      </div>
      <hr/>
      <div>
      
      <form action="upload" method="post" enctype="multipart/form-data">
        <input type="file" multiple="" name="file[]" class="span3" /><br />
        <input type="submit" value="Upload"  class="span2">
      </form>
      </div>
      <div>
     
      <ul>
        {% for file in filenames %}
          <li><a href="{{url_for('uploaded_file', filename=file)}}">{{file}}</a></li>
        {% endfor %}
      </ul>

      </div>
    </div>
  </body>
</html>
 